
### project ###
apis/
data.old/
test_images/
image_extractor.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

.cache

### VisualStudioCode ###
.vscode/*
*.code-workspace
scripts/scan_cmd.py
scripts/transform_example.py

venv
.idea
